@import "tailwindcss";

:root {
  --background: var(--color-zinc-900);
  --foreground: var(--color-gray-200);
  --secondary-text: var(--color-gray-400);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary-text: var(--secondary-text);
  --font-georgia: var(--font-georgia, serif);
  --font-space-grotesk: var(--font-space-grotesk);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-georgia), serif;
}
