@import "tailwindcss";

:root {
  --background: var(--color-zinc-950);
  --foreground: var(--color-gray-200);
  --secondary-text: var(--color-gray-400);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary-text: var(--secondary-text);
  --font-inter: var(--font-inter);
  --font-orbitron: var(--font-orbitron);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), var(--font-display);
}
